<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Name Generator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'home/navbar' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <br/>
  <br/>
  <br/>
  <center>Copyright © superheros.com - All Rights Reserved</center>
  </body>
</html>
